{{define "sidebar"}}
<h1 class="brand-title">Cho-Ching's Blog</h1>
<h3 class="brand-tagline">學習程式,順便翻譯與筆記。</h3>
<nav class="nav">
  <ul class="nav-list">
    <li class="nav-item">
      <a class="pure-button" href="">Posts</a>
    </li>
    <li class="nav-item">
      <a class="pure-button" href="">Bookmarks</a>
    </li>
    <li class="nav-item">
      <a class="pure-button" href="">English</a>
    </li>
    <li class="nav-item">
      <a class="pure-button" href="">About</a>
    </li>
  </ul>
</nav>
{{end}}
